/* 
    Document   : general
    Created on : 12-09-2013, 15:13:40
    Author     : spjael
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

/* :::::::::::::::::Sortable list:::::::::::::::::::::  */
  
.sortableLi 
{ 
    margin: 0 5px 5px 5px; 
    padding: 5px; 
    font-size: 1.2em; 
    width: 120px; 
}
.sortablediv ul 
{
    list-style-type: none; 
    margin: 0; 
    padding: 0 0 2.5em; 
    float: left; 
    margin-right: 10px;
}
.sortablediv 
{
    float: left;
}
.AddLiButton 
{
    margin: 0 5px 5px 5px; 
    padding: 5px; 
    font-size: 1.2em; 
    width: 120px;
    cursor: pointer;
}