/* 
    Document   : general_admin_small
    Created on : 18-11-2013, 23:07:06
    Author     : spjael
    Description:
        Purpose of the stylesheet follows.
*/

body,html{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.RestaurantInfo { height: 83px; top: 0px; overflow: visible; }
.RestaurantInfo img { margin: 0px 15px 0px -5px; width: 40px; }
.Restaurant.Name { margin-right: 25px; }
.Restaurant.Name h1 { font-size: 25px; line-height: 10px; }
.Restaurant.Name h2 { font-size: 14px; line-height: 10px; }

.Restaurant.info { padding: 0 0 0 52px; width: 100%; margin: 0; }
.RestaurantPhone {  display: inline-block; }
.RestaurantPhone h2 { font-size: 15px; line-height: 0px;  }
.RestaurantPhone img { width: 12px; margin: 0 5px 0 0; }
.RestaurantAdresse { display: inline-block; }
.RestaurantAdresse h4 { margin: 1px 0 0 5px; }
.RestaurantAdresse img { width: 14px; line-height: 0px; margin: 2px 0px 0 12px; }

.TabMenu { top: 94px; }
.Tab { 
    width: 24%; 
    font-size: 13px;
    color: #fff;
    font-weight: 600px;
}

.buttonEdit.top { top: -16px; right: 5px; }
.sortablediv{
    width: 90%;
    min-width: 200px;
    position: relative;
}
.AddLiButton {
    width: 100%;
    min-width: 200px;
    position: relative;
}
.newsortablediv{
    width: 90%;
    min-width: 200px;
    padding: 10px;
    position: relative;
}
.DishText {
    width: 70%;
}
.InfoSlide {
    width: 96%;
    min-width: 200px; 
    position: relative;
}
.DishText input {
    width: 100%;
    min-width: 80%;
}
.SaveMenuDish  {
    width: 90%;
    min-width: 80%;
}


.oldMessenge {
    width: 90%;
}

.Messagepreview textarea {
    width: 75%;
}