/* 
    Document   : general_index_medium.css
    Created on : 17-09-2013, 16:13:18
    Author     : Daniel
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.wrapper { min-width: 500px; max-width: 980px; }

.Info01Img { height: 400px; max-width: 900px; }

.Info01Img h2 { font-size: 0.8em; line-height: 25px; width: 230px; }
.Info01Txt01 { left: 60px; top: 240px;}
.Info01Txt02 { left: 330px; top: 240px;}
.Info01Txt03 { right: 10px; top: 240px;}

.Info03Img { max-width: 850px; }
