#Error handelign
#This work online, but not offline, so DON'T try to fix it
ErrorDocument 404	/404.php
ErrorDocument 401 	/404.php
ErrorDocument 403 	/404.php
ErrorDocument 404 	/404.php
ErrorDocument 500 	/404.php

#Remove .php extension from file names
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]