RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

ErrorDocument 400     /MyLocalMenu/404.php
ErrorDocument 401     /MyLocalMenu/404.php
ErrorDocument 403     /MyLocalMenu/404.php
ErrorDocument 404     /MyLocalMenu/404.php
ErrorDocument 500     /MyLocalMenu/404.php